/* Reset some default styles */
body, h1{
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    color: #fff;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left img {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    margin-right: 10px;
    animation: spin 2s infinite linear; /* Add animation to the logo */
}
.navbar-right .loginbutton {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-right .loginbutton:hover {
    background-color: #fff;
    color: #0056b3;
}

/* Animation keyframes for spinning the logo */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* <!-- Second Navbar for Sign Up Page --> */
.loginup-navbar {
    background-color: white; 
    color: black; 
    padding: 20px 82px;
}

.loginup-navbar h1 {
    font-size: 24px;
    margin: 0;
}
/* login box */

.login-container {
    max-width: 391px;

    max-height: 432px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

 .boxh{
    text-align: center;
    font-weight: bold;
    font-size: 32px;

} 
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 14px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin: 20px 0px;
    padding: 15px;
    background-color:#007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3 ;
}
